body{
    background-image: linear-gradient(to top, #efe68c, #00bfff);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}