.recipes-container-list {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-left: 6%;
  padding-right: 6%;
  width: auto;
  height: auto;
  gap: 5%;
  margin-top: 50px;
}