.recipes-container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 6%;
    padding-right: 6%;
    width: auto;
    gap: 5%;
}
.post-item {
  width: fit-content;    
  margin: 5%;
}
  
  @media (max-width: 575.98px) {
    .post-item{
      flex: 0 0 100%; /* Full width on extra-small screens */
      max-width: 100%; /* Full width on extra-small screens */
    }
  }