.page-header{
    text-align: center;
}
.page-header h1{
    color: navy;
    font-size: 50px;
}
.register-form-container{
    width: 40%;
    margin-left: 30%;
    background-color: #F7FFE2;
    font-weight: bold;
}