body {
  background-image: linear-gradient(to top, #efe68c, #00bfff);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.under-navbar{
  display: flex;
  flex-direction: row;
}

.navbar, .sidebar{
  position: sticky;
  z-index: 1000;
}
.sidebar{
  border-right: 1px solid white ;
  width: 15%;
  min-width: 500px;
}
.page-content{
  width: 100%;
}