.back-button{
    border: none;
    background: none;
    font-size: 40px;
    margin-top: 1%;
    margin-left: 3%
}

.reset-form-container{
    display: grid;
    justify-content: center;
    margin-top: 5%;
    width: 40%;
    text-align: center;
    margin-left:30%;

}
.recover-password-header{
    font-size: 65px;
    border-radius: 15px;
    color: navy;

}
.reset-form{
    border: 3px solid #D9D9D9;
    border-radius: 15px;
    background: rgb(239, 247, 226, 0.5);
}
.reset-form p{
    font-size: 35px;
}

.form-outline{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
}
#userEmail{
    font-size: 38px;
    border-radius: 15px;
    width: 70%;
    text-align: canter;
    margin-left: 15%;
    background-color: lightgrey;
    margin-top: 15px;
}   

#userEmail:focus{
    background-color: white;
}

#resetButton{
    margin-top: 40px;
    font-size: 33px;
    border: 1px solid navy;
    border-radius: 20px;
    background-color: lightblue;
    margin-bottom: 30px;
}

#resetButton:Hover{
    font-weight: bold;
    color: blue;
    background-color: beige;
    
}
