/* Outer container styling */
.guest-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Pop-up window styling */
  .popup-window {
    width: 688px;
    height: 237px;
    border-radius: 20px;
    background: #F7FFE2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Message block inside the pop-up */
  .message-block {
    display: flex;
    width: 520px;
    height: 65px;
    min-width: 240px;
    /* padding: var(--sds-size-space-300) var(--sds-size-space-400); */
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid black;
    background: white;
  }
  
  /* Text inside the message block */
  .message-text {
    width: 538px;
    height: 41px;
    color: black;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
  }
  
  /* Button container for positioning */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 15px;
  }
  
  /* Styles for Sign In button */
  .button {
    padding: 4px 6px;
    background-color: black;
    /* color: white; */
    font-size: 15px;
    border-radius: 15px;
  }

  