.container{
    background-size: cover;
    background-position: center;
    background-image: url("/backgroundLogin.png");
}

.logo .logo-container{
    width: 40%;
    height: auto;
    border-radius: 100px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

