main{
  position: sticky; 
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #b0e0e2;
  background-color: #00bfff;
}

ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

ul.left{
  display: flex;
  list-style-type: none;
  padding-left: 20px;
  gap: 30px;
  align-items: center;
}

ul.middle{
  display: flex;
  list-style-type: none;
  gap: 110px;
  align-items: center;
}

ul.right{
  display: flex;
  list-style-type: none;
  padding-right: 20px;
  gap: 30px;
  align-items: center;
}

img.notifImage{
  margin-top: 5px;
  margin-left: -10px;
}

img.postImage{
  width: 50px;
}

.notif{
  padding: 10px 10px 5px 10px;
}

.logout{
  padding: 30px 30px 25px 30px;
}

.post{
  padding: 20px 20px 12px 20px;
}

.home, .search{
  padding: 20px 20px 10px 20px
}

.notif:hover, .post:hover, .home:hover, .search:hover, .logout:hover{
  background-color: #FFF1C2;
}